.super-mario {
    width: 200px;
    position: absolute;
    left: 500px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 550px;
  }
  
  .baloon { 
  position: absolute;
  z-index: 2;
  right: 800px;
  bottom: 500px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 3;
    right: 836px;
    bottom: 573px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    right: 600px;
    bottom: 400px;
    z-index: 1;
    
  }